/build/
/tester-rp2040/build/
/out/
/modules/
/tools/
/zephyr/*
!/zephyr/module.yml
/zmk/
/bootloader/
*.uf2
*.hex
.DS_Store

# KiCad
*.kicad_prl
fp-info-cache
*-backups/
.history/
*.bak
*.bck
*_autosave-*
~*.lck
*.lck

# Fabrication outputs (regenerable)
*.gbr
*.drl
