#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            /* Press to unlock ZMK Studio, then assign SPACE (or any key) there */
            bindings = <
                &studio_unlock
            >;
        };

        /* Available in ZMK Studio builds */
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
    };
};
